@model CatStore.WebMVC.Models.DTO.Pets.PetListVM
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="term" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
        @if (!String.IsNullOrEmpty(Model.Term))
        {
            <a href="/Home/Index" class="btn btn-default">Показать всех</a>
        }
    </form>
</section>
<section class="pets">
    @foreach(var pet in Model.Pets) {
        <div class="pet-card" onclick="window.location.href='/Home/PetDetail?petId=@pet.Id'">
            <div class="pet-image">
            @if (String.IsNullOrEmpty(@pet.Image)){
                <img src="/Uploads/emptyCatImage.jpg">
            } else {
                <img src="/Uploads/@pet.Image">
            }
            </div>
            <div class="pet-info">
                <h4>@pet.Title</h4>
                <h4>Вид: @pet.PetKind.ToString()</h4>
                <h4>Имя: @pet.Name</h4>
            </div>
        </div>
    }
</section>

<div class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++) {
        if (i == Model.CurrentPage) {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        } else {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
        }
    }

</div>